@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/* <img src={star} width="20" height="20"/>  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.todolist {
  padding: 20px;
}

.error {
  color: rgb(214, 50, 50);
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-title {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
}

.form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 4px;
}

.input {
  display: block;
  width: 300px;
  margin-bottom: 10px;
  padding: 3px;
  border: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 4px;
}

.input-label {
  display: block;
  margin-bottom: 5px;
}

.textarea {
  display: block;
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 4px;
  resize: none;
}

.textarea-limit {
  margin-bottom: 5px;
  color: rgb(50, 50, 50);
  font-size: 12px;
}

.btn {
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px 8px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: transparent;
}

.btn:hover {
  border-radius: 4px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.3), 0 10px 10px rgba(0,0,0,0.3);
}

.btn-reset:hover {
  background-color: rgb(197, 89, 89);
}

.btn-submit:hover {
  background-color: rgb(98, 172, 76);;
}

.form-data-title {
  margin-bottom: 15px;
}

.form-data-list li{
  list-style-type: none;
  margin-bottom: 10px;
}

.task-index {
  font-weight: bold;
  margin-right: 10px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -80px;
  width: 300px;
  padding: 20px 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.3), 0 10px 10px rgba(0,0,0,0.3);
}

.popup-task-title {
  margin-bottom: 10px;
  padding: 10px;
  word-wrap: break-word;
}

.popup-btn {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
  align-items: center;
}

.popup-btn:hover {
  color: #fff;
  background-color: #62ac4c;
  transition: 0.4s;
}

.btn-exit:hover {
  color: #fff;
  background-color: #ff0000;
  transition: 0.4s;
}

.btn-menu {
  border: none;
}

.task-container {
  align-items: center;
  justify-content: flex-start;
}

.btn-favourites {
  margin-left: 5px;
  background-color: transparent;
  border: none;
}

.active {
  background-color:#fa8072;
}